<%= form_with(model: personal_info) do |form| %>
  <% if personal_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_info.errors.count, "error") %> prohibited this personal_info from being saved:</h2>

      <ul>
        <% personal_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Phone %>
    <%= form.number_field :Phone %>
  </div>

  <div class="field">
    <%= form.label :Age %>
    <%= form.number_field :Age %>
  </div>

  <div class="field">
    <%= form.label :Cibil_Score %>
    <%= form.number_field :Cibil_Score %>
  </div>

  <div class="field">
    <%= form.label :Nationality %>
    <%= form.text_field :Nationality %>
  </div>

  <div class="field">
    <%= form.label :Net_Monthly_Income %>
    <%= form.number_field :Net_Monthly_Income %>
  </div>

  <div class="field">
    <%= form.label :Desired_Loan_Amount %>
    <%= form.number_field :Desired_Loan_Amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
